
@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Comfortaa';
    src: url('../font/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../gambar/Background/halamanUtama.jpg);
    font-family: 'Quicksand';
}

/*navbar*/
.container{
    position: relative;
    top: 60px;
}
nav{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    z-index: 2;
    background-color: rgb(79,181,244);
    justify-content: space-around;
    padding: 20px;
    font-size: 15px;
}
nav ul{
    flex: 1;
    list-style: none;
    width: 18%;
    justify-content: space-between;
}
nav ul li{
    display: inline;
    margin: 0px 10px;
}
.NamaUser{
    display: flex;
    flex: 1;
    margin: 0px 10px;
}
.NamaUser h4 .nama{
    font-family: 'Comfortaa';
    text-decoration: underline;
    font-size: 18px;
}
.NamaUser h4 span{
    font-family: 'Quicksand';
    font-size: 15px;
}
nav ul a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.icon{
    background-image: url(../gambar/Background/Icon.png);
    background-repeat: no-repeat;
    margin: 0px 10px;
    width: 200px;
    flex: 1;
    height: 30px;
}
/* buat menunya */
.menu{
    display: none;
    flex: 1;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}
.menu input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.menu span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/* buat animasi saat click */
.menu span:nth-child(2){
    transform-origin: 0 0;
}

.menu span:nth-child(4){
    transform-origin: 0 100%;
}

.menu input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu input:checked ~ span:nth-child(3){
    transform: scale(0);
}


.menu input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}




.berhasil{
    text-align: center;
    margin: 10px;
    background-color: rgba(74, 168, 74, .5);
    border-radius: 50px;
}
.gagal{
    text-align: center;
    margin: 10px;
    background-color: rgba(235, 80, 80, 0.5);
    border-radius: 50px;
}
table tr .kanan{
    float:right;
}

table{
    margin: 25px auto;
}
table td{
    padding: 8px;
}

.form{
    margin: auto;
    width: 100%;
    height: 100%;

    font-size: 20px;
}
.form table input[type="text"], .form table input[type="number"]{
    height: 20px;
    width: 280px;
}
.form table input[type="submit"]{
    height: 30px;
    width: 100px;
    background-color:rgb(79,181,244) ;
    border-radius: 50px;
}

.form table input[type="submit"]:hover{
    cursor: pointer;
}
.hewan input{
   margin-right: 15px;
}

@media screen and (max-width: 1230px){
    nav ul{
        width: 30%;
    }
}

@media screen and (max-width: 1200px){
    .menu{
        display: flex;
    }
    nav ul{
        display: flex;
        position: absolute;
        right: 0;
        top: 60px;
        width: 100%;
        height: 300px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgb(155, 194, 255);
        z-index: -1;
        opacity: 0;
        transform: translatey(-100%);
        transition: all 0.5s;
    }
    nav ul.muncul{
        opacity: 1;
        z-index: 1;
        transform: translatey(0);
    }
}


.active{
    font-size: 20px;
    font-weight: bold;
    color: red !important;
}


.status{
    font-size: 15px;
    margin: 5px;
}
