@font-face {
    font-family: 'Comfortaa';
    src: url('../font/Comfortaa/static/Comfortaa-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font: 18px/36px 'open_sansregular', 'Arial Narrow', arial, sans-serif;
    background-image: url(../gambar/Background/Login.jpg);
    background-repeat: repeat-y;
    background-size:cover;
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
}
.container{
    top: 20%;
    position: absolute;
    text-align: center;
}
.icon{
    width: 500px;
    height: 180px;
    margin: 100px auto;
    background-image: url(../gambar/Background/iconLogin.png);
    background-size: cover;
}
.login{
    padding: 50px;
    margin: 100px auto;
    width: 400px;
    height: 210px;
}
h1{
    width: 250px;
    font-family:  'Comfortaa';
    margin: auto;
    border-radius: 50px;
    background-color: rgb(79,181,244);
}
.container table button{
    height: 30px;
    color: white;
    background-color: rgb(79,181,244);
    border: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 9px #999;
    width: 200px;
    margin: 5px;
}
.container table button:hover{
    background-color: red;
}
.container table button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px); 
       
}
.col-12 {
    width: 100%;
}

label{
    font-size: 18px;
}

.container table{
    margin: auto;
}
input[type="text"], input[type="password"], input[type="email"]{
    height: 25px;
    border-color: rgb(79,181,244);
    border-radius: 10px;
    margin: 5px;
}
.container a{
    text-decoration: none;
    display: inline-block;
    color: purple;
    margin: 10px;
    font-size: 14px;
}
.container a:hover{
    color: red;
    text-decoration: underline;
}
.container a:active{
    color: blue;
}
